CHANNELS='#planeta_mix'
ADMIN=seba
USERS=Jm,roobert,seba,Rotten,Viuda_Negra,katana
BOT_NICK=botsitou
BOT_NAME='El bot'
PASSWORD=
HOST='irc.chatealo.cl'
PORT=6667
RADIO_LINK='Este verano recuerda sintonizar nuestra radio en www.radioplanetamix.cl y vive una experiencia diferente , radio-chat #planeta_mix'
API=https://sonic-us.streaming-chile.com/cp/widgets/player/single/nowplay.php
#tiempo en minutos que el bot dira los temas sonando
TEMAS=10
START_TIMEOUT=5
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
OPENAI_API_KEY=